<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%X{userName}] [%X{sessionId}] [%t] %m %ex%n"/>
        </Console>

    </Appenders>


    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" level="DEBUG"/>
        </Root>
    </Loggers>

</Configuration>
